@import '../variables';

footer {
	min-height: $footer-min-height;
	background-color: #e7e7e7;
	color: gray;
	padding-top: 10px;
	padding-bottom: 20px;

	li {
		list-style: none;
	}

	.row {
		&.footer-widgets {
			padding-bottom: 25px;
		}
	}
}