@import '../utilities/variables';
@import '../utilities/mixins';

.container-fluid {
	padding: 0;
}

.content-container {
	// Take up enough space that the footer doesn't float up
    min-height: calc(100vh - #{$footer-min-height} - 80px);

    margin-bottom: 25px;
}

img {
	margin: 0 auto 20px auto;
	display: block;
	height: auto;
	max-width: 100%;
}

hr {
	@include hr;
}

a {
 	color: $pink;
 	text-decoration: none;
	
	&:hover, &:focus {
		color: $blue;
		text-decoration: none;
	}
} 

