.navbar-container {
	margin-top: 10px;
	padding: 0;

	.navbar-default {
		background-color: #ffffff;
		border: none;
	}

	.navbar-brand {
		font-size: 30px;
	}

	.menu-item {
		background-color: #f1f1f1;
		border-radius: 2px;
		margin: 0 2px 0 0;
	}
}