.navbar-container {
	margin-top: 10px;
	padding: 0;

	.navbar {
		background-color: #ffffff;
		border: none;
	}

	.navbar-brand {
		font-size: 30px;
		color: $pink;
		height: 30px;
		margin-top: 13px;
		padding-top: 0;
		padding-bottom: 0;

		&:hover, &:focus {
			color: $blue;
		}
	}

	.menu-item {
		background-color: #f1f1f1;
		border-radius: 2px;
		margin: 0 4px 0 2px;

		& a {
			color: $pink;

			&:hover, &:focus {
				color: $blue;
			}
		}
	}

	// Styles for smaller screens
	@media (max-width: 767px) {
		text-align: center;

		.navbar-header {
			margin: 7.5px 0;
		}

		.navbar-brand {
			float: none;
			margin: 0 auto;
		}

		.navbar-nav {
			margin: 0;

			& li {
				margin: 0;
			}
		}
	}
}