.sidebar {
	@media (max-width: 767px) {

		&:before{
		    @include hr-like-content;
		}
	}
}

.widget {
	ul {
		padding-left: 0;
	}

	li {
		list-style: none;
	}

	@media (max-width: 767px) {
		h2 {
			text-align: center;
		}

		ul {
			text-align: center;
		}
	}
}
